@c-background: #ffffff;
@c-highlight: #ffffff;
@c-selected: #72b6ec;

@dark-blue: #232f3e;
@light-blue: #97B2D3;
@xlight-blue: #CADFF8;
@blue: #688ab4;
@light-gray: #dce1e6;
@xlight-gray: #e7ecf1;
@med-gray: #7e8184;
@dark-gray: #3A3C3D;
@orange: #C96C37;
@light-orange: #E9905E;
@xlight-orange: #FFCCAF;
@red: #c92929;
@light-red: #E6CFD0;
@xlight-red: #EA9C9C;
@dark-red: #944D4D;
@xdark-red: #6A1C0E;
@red-gray: #4D2828;
@white: #ffffff;
@black: #000000;

@header-color: @dark-blue;
@text-color: @white;
@alt-row-color: @xlight-gray;
@selected-color: @light-blue;
@overdue-selected-color: @light-orange;
@unselected-color: @light-gray;
@overdue-unselected-color: @light-gray;
@input-outline-color: @med-gray;
@btn-color: @blue;
@btn-text-color: @white;
@btn-color2: @blue;
@shadow-color: @dark-gray;
@error-color: @red;
@success-color: @blue;
@link-color: @blue;

// Width variables (appears count calculates by raw css)
@width2: 100%;
// Appears 4 times

// Height variables (appears count calculates by raw css)
@height2: 60px;
// Appears 4 times

.container-fluid {
  padding: 0px;
}

a {
  text-decoration: underline;
}

body {
  font-family: 'Titillium Web', Verdana;
  font-size: 1.2em;
  margin: 0;
  padding: 0px 0px 20px 0px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

select {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px @input-outline-color solid;
  margin-left: 10px;
  padding: 0px 5px;
}

input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px @input-outline-color solid;
  padding-left: 5px;
  width: @width2;
}

textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px @input-outline-color solid;
  padding: 5px;
  width: @width2;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: @btn-color2;
  border-radius: 5px;
  border: none;
  color: @btn-text-color;
  float: right;
  -webkit-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -moz-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -ms-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -o-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  &:hover {
    -webkit-box-shadow: 2px 2px 3px @shadow-color;
    -moz-box-shadow: 2px 2px 3px @shadow-color;
    box-shadow: 2px 2px 3px @shadow-color;
    transform: translate(-1px, -1px);
    -webkit-transform: translate(-1px, -1px);
    -moz-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    -o-transform: translate(-1px, -1px);
  }
  &:disabled {
    opacity: 0.6;
  }
  &:active {
    background: desaturate(@btn-color2, 15%);
    -webkit-box-shadow: inset 0px 0px 6px lighten(@shadow-color, 20%);
    -moz-box-shadow: inset 0px 0px 6px lighten(@shadow-color, 20%);
    box-shadow: inset 0px 0px 6px lighten(@shadow-color, 20%);
    transform: translate(-1px, -1px);
    -webkit-transform: translate(-1px, -1px);
    -moz-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    -o-transform: translate(-1px, -1px);
  }
}

.btn-glyph {
  color: @black;
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px;

  text-shadow: none;

  -webkit-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -moz-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -ms-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -o-transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  transition: 0.05s ease-out transform, 0.05s ease-out box-shadow;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  &.small {
    font-size: 0.8em;
  }
  &:hover {
    text-shadow: 1px 1px 1px lighten(@shadow-color, 30%);
    transform: translate(-1px, -1px);
    -webkit-transform: translate(-1px, -1px);
    -moz-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    -o-transform: translate(-1px, -1px);
  }

  &.selected {
    color: @btn-color2;
  }
}

a {
  color: @link-color;
}

.big-wide-button {
  font-size: 1.5em;
  font-weight: bold;
  width: @width2;
}

.big-icon-button {
  font-size: 1.5em;
  font-weight: bold;
  width: @width2;
  vertical-align: middle;
  .bib-icon {
    float: left;
    text-align: left;
    width: 30px;
  }
  .bib-label {
    float: right;
    text-align: center;
    width: ~"calc(100% - 45px)";
    margin-right: 15px;
  }
}

.big-button {
  border-width: 2px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2px 10px;
  &:not(:first-child) {
    margin-left: 10px;
  }

}

.be-positive {
  background: @btn-color !important;
}

.other-button {
  background: @btn-color2 !important;
}

.navbar {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background: @header-color;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 0px 8px @shadow-color;
  height: @height2;
}

.navbar-collapse {
  height: @height2;
  padding: 5px 0px 0px 0px;
}

.navbar-brand {
  height: @height2;
  padding: 5px 0px 0px 0px;
}

.navbar-nav {
  height: @height2;
  li {
    font-size: 1.5em;
    margin-top: 20px;
    vertical-align: middle;
    a {
      text-decoration: none;
      -moz-border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
      border-bottom: 5px @header-color solid;
      border-radius: 5px 5px 0px 0px;
      color: @btn-text-color !important;
      padding: 5px 20px 5px 20px;
      transition: 0.15s ease-out all;
      -webkit-transition: 0.15s ease-out all;
      -moz-transition: 0.15s ease-out all;
      -ms-transition: 0.15s ease-out all;
      -o-transition: 0.15s ease-out all;
      transition: 0.15s ease-out all;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      &:hover {
        border-bottom-color: @btn-color;
        color: @c-highlight !important;
        -webkit-transform: translate(-1px, -1px);
        -moz-transform: translate(-1px, -1px);
        -ms-transform: translate(-1px, -1px);
        -o-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
      }
      &:focus {
        border-bottom-color: @btn-color;
        color: @c-highlight !important;
      }
    }
  }
}

.navbar-nav > .active > a {
  background: none !important;
  border-bottom-color: @btn-color !important;
  color: @btn-text-color !important;
}

#header {
  color: @btn-text-color;
  font-size: 3em;
  padding: 10px;
}

.main-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: @white;
  border-radius: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.mini-description {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: @white;
  border-radius: 5px;
  border: @unselected-color 1px solid;
  padding: 10px;
}

.error-message {
  border: @error-color 2px solid;
  color: @error-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px 0px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.success-message {
  background: @white;
  border: @success-color 2px solid;
  color: @success-color;
  font-weight: bold;
  margin: 5px 0px 10px 0px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.success-dialog {

}

.sidebar {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: @unselected-color;
  padding: 0;
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
  }
  .progbar {
    padding: 5px 0px 0px 0px;
  }
}

.sidebar-filter {
  padding: 10px 10px 10px 10px;
}

.quest-list-entry {
  //border-bottom: @selected-color 1px solid;
  //border: 5px solid @unselected-color;
  background: @unselected-color;
  padding: 10px 10px 10px 10px;
  transition: 0.15s ease-out all;
  -webkit-transition: 0.15s ease-out all;
  -moz-transition: 0.15s ease-out all;
  -ms-transition: 0.15s ease-out all;
  -o-transition: 0.15s ease-out all;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  &.overdue {
    //color:@orange;
    //background: @light-red;
    &.selected {
      //color: @black;
      background: @selected-color;
    }
  }

  &:not(.overdue) {
    &.selected {
      background: @selected-color;
    }
  }

  &:last-child {
    //border-bottom: none;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
  }
  &:hover {
    &:not(.selected) {
      cursor: pointer;
      -webkit-box-shadow: 1px 1px 3px 0px @shadow-color;
      -moz-box-shadow: 1px 1px 3px 0px @shadow-color;
      box-shadow: 1px 1px 3px 0px @shadow-color;
      -webkit-transform: translate(-1px, -1px);
      -moz-transform: translate(-1px, -1px);
      -ms-transform: translate(-1px, -1px);
      -o-transform: translate(-1px, -1px);
      transform: translate(-1px, -1px);
    }
  }
}

.quest-list-entry.ng-enter {
  margin-top: -20px;
  opacity: 0;
  transition: 0.15s ease-out all;
}

.quest-list-entry.ng-enter-active {
  margin-top: 0px;
  opacity: 1;
}

.quest-list-entry.ng-enter-stagger {
  -moz-transition-delay: 0.05s;
  -moz-transition-duration: 0s;
  -ms-transition-delay: 0.05s;
  -ms-transition-duration: 0s;
  -o-transition-delay: 0.05s;
  -o-transition-duration: 0s;
  -webkit-transition-delay: 0.05s;
  -webkit-transition-duration: 0s;
  transition-delay: 0.05s;
  transition-duration: 0s;
}

.quest-details {
  padding: 0px 0px 20px 0px;
  .quest-info-holder {
    overflow: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .flex-row{
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      &.overdue {
        color: @red;
      }
    }
    .quest-number {
      padding: 5px;
      width: 20%;
      border-bottom: 2px solid @blue;
      font-size: 1.75em;
      font-weight: bold;
      .quest-buttons {
        font-size: 0.65em;
      }
    }
    .sub-info {
      font-size: 1em;
      padding: 5px;
      width: 80%;
      border-bottom: 2px solid @blue;
      text-align: right;
    }
    .description {
      padding: 5px;
      font-size: 1.5em;
      font-weight: normal;
      clear: both;
    }
  }
  .quest-overview {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    text-align: center;
  }
  .quest-actions {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: @unselected-color;
    border-radius: 5px;
    clear: both;
    margin-bottom: 10px;
    opacity: 1;
    overflow: auto;
    padding: 10px;
    span {
      display: inline-block;
      margin-left: 20px;
      padding: 0px;
    }
    button {
      margin-top: 1px;
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
  .quest-actions.disabled {
    opacity: 0.5;
  }
}

.quest-labors {
  font-size: 1em;

  .header {
    font-weight: bold;
  }

  .labor-entry {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 4px;
    padding: 2px 15px;
    transition: 0.15s ease-out all;
    -webkit-transition: 0.15s ease-out all;
    -moz-transition: 0.15s ease-out all;
    -ms-transition: 0.15s ease-out all;
    -o-transition: 0.15s ease-out all;
    transition: 0.15s ease-out all;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background: @unselected-color;
    &:hover {
      -webkit-box-shadow: 1px 1px 3px 0px @shadow-color;
      -moz-box-shadow: 1px 1px 3px 0px @shadow-color;
      box-shadow: 1px 1px 3px 0px @shadow-color;
      -webkit-transform: translate(-1px, -1px);
      -moz-transform: translate(-1px, -1px);
      -ms-transform: translate(-1px, -1px);
      -o-transform: translate(-1px, -1px);
      transform: translate(-1px, -1px);
    }
    .details {
      //background: @white;
      //-moz-border-radius: 5px;
      //-webkit-border-radius: 5px;
      //border-radius: 5px;
      //border: 1px solid @unselected-color;
      //padding: 5px;
      opacity: 0.5;
      margin: 0 0 5px 0;
      overflow: hidden;
      ul {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: block;
        margin: 0px;
        padding: 0px;
      }
      li {
        display: inline-block;
        margin-right: 5px;
        padding: 0;
      }
    }
    &.selected {
      -moz-transition: 0.15s ease-in all;
      -ms-transition: 0.15s ease-in all;
      -o-transition: 0.15s ease-in all;
      -webkit-transition: 0.15s ease-in all;
      background: @selected-color;
      transition: 0.15s ease-in all;
    }
  }
  .owner-group {
    margin-bottom: 10px;
    .type-group {
      //padding-bottom: 5px;
      //padding-left: 15px;
      //padding-right: 15px;
      //padding-top: 5px;
    }
  }
}

.quest-editing {
  overflow: hidden;
  .panel-row {
    overflow: hidden;
    &.top-row {
      .helper-panel {
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;
      }
    }
    &:not(.top-row) {
      .helper-panel, .edit-panel {
        padding-top: 20px;
      }
    }
    &.bottom-row {
      .helper-panel {
        -webkit-border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 0;
        margin-bottom: 0;
        max-height: 8px;
      }
      .edit-panel {
        padding-bottom: 0;
        margin-bottom: 0;
        max-height: 8px;
      }
    }
  }
  .helper-panel {
    height: 100%;
    background: @unselected-color;
    padding: 10px;
    padding-bottom: 20010px;
    margin-bottom: -20000px;
    &:last-of-type {
      -webkit-border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px;
    }
  }
  .edit-panel {
    padding: 10px;
    padding-bottom: 20010px;
    margin-bottom: -20000px;
    &:not(:first-child) {
      padding-top: 50px;
    }
    .edit-block {
      -moz-transition: 0.5s ease-out all;
      -ms-transition: 0.5s ease-out all;
      -o-transition: 0.5s ease-out all;
      transition: 0.5s ease-out all;
      height: auto;
      max-height: 500px;
    }
    .edit-block.ng-enter {
      max-height: 0;
      transition: 0.25s ease-out all;
    }

    .edit-block.ng-enter-active {
      max-height: 500px;
    }

    .edit-block.ng-leave {
      max-height: 500px;
      transition: 0.25s ease-out all;
    }

    .edit-block.ng-leave-active {
      max-height: 0;
    }
  }
}

.quest-creation {
  overflow: hidden;
  .panel-row {
    overflow: hidden;
    &.top-row {
      .helper-panel {
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;
      }
    }
    &:not(.top-row) {
      .helper-panel, .create-panel {
        padding-top: 20px;
      }
    }
    &.bottom-row {
      .helper-panel {
        -webkit-border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 0;
        margin-bottom: 0;
        max-height: 8px;
      }
      .create-panel {
        padding-bottom: 0;
        margin-bottom: 0;
        max-height: 8px;
      }
    }
  }
  .helper-panel {
    height: 100%;
    background: @unselected-color;
    padding: 10px;
    padding-bottom: 20010px;
    margin-bottom: -20000px;
    &:last-of-type {
      -webkit-border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px;
    }
  }
  .create-panel {
    padding: 10px;
    padding-bottom: 20010px;
    margin-bottom: -20000px;
    &:not(:first-child) {
      padding-top: 50px;
    }
  }
  .host-list {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: @alt-row-color;
    border-radius: 5px;
    margin: 5px 0px;
    max-height: 200px;
    min-height: 50px;
    overflow: scroll;
    padding: 0px 5px 0px 5px;
    -moz-transition: 0.5s ease-out all;
    -ms-transition: 0.5s ease-out all;
    -o-transition: 0.5s ease-out all;
    transition: 0.5s ease-out all;
  }
}

#datepicker {
  table {
    color: @black;
    border-collapse: separate;
    border-spacing: 5px;
    thead tr th button[disabled] {
      color: @black;
      opacity: 1;
    }
  }
}

.date-picker {
  .btn[disabled] {
    background-color: @dark-blue;
    opacity: 1;
    color: @dark-blue;
  }

  .btn {
    .text-muted {
      color: @dark-blue;
      opacity: 1;
    }
    .text-info {
      color: @black;
    }
  }

  .btn-default[disabled] {
    color: @dark-blue;
    border-color: @dark-blue;
  }
  .btn-default {
    background: @light-gray;
    border-color: @black;
    color: @black;
  }
  .btn-info {
    background: @btn-color2;
    color: @white !important;
    border-color: @black;
    opacity: 1;
    &.active, &.active:hover, &:active {
      background: @btn-color2 !important;
      border-color: @black;
      color: @white !important;
      opacity: 1;
    }
  }
}

#timepicker {
  .btn-link {
    color: @black;
    &:hover {
      color: @black;
    }
  }
  .btn-default {
    &:hover {
      background: @white;
    }
  }
}

.box-continuation {
  -webkit-box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, 0.5);
}

.remove-img-button {
  cursor: pointer;
}

.modal-wrapper {
  background: rgba(0, 0, 0, .6);
  bottom: 0px;
  left: 0px;
  opacity: 1;
  position: fixed;
  right: 0px;
  text-align: center;
  top: 0px;
  width: @width2;
  z-index: 20;
}

.modal-wrapper.fade.ng-enter {
  opacity: 0;
  transition: 0.25s ease-out all;
}

.modal-wrapper.fade.ng-enter-active {
  opacity: 1;
}

.modal-wrapper.fade.ng-leave {
  opacity: 1;
  transition: 0.25s ease-out all;
}

.modal-wrapper.fade.ng-leave-active {
  opacity: 0;
}

.modal-dialog {
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 20px @shadow-color;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 20px @shadow-color;
  background: @c-background;
  border-radius: 5px;
  box-shadow: 0 0 20px @shadow-color;
  left: 50%;
  margin-left: -250px;
  opacity: 1;
  padding: 10px;
  position: fixed;
  top: 100px;
  width: 500px;
  z-index: 1;
  .dialog-text {
    font-weight: bold;
    padding: 20px;
  }
  .dialog-callout {
    font-size: 1.5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: @white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  .dialog-buttons {
    text-align: center;
  }
}

#fatesModal {
  height: 540px;
  margin-left: -450px;
  width: 900px;
}

#successModal {
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px;
  color: @btn-text-color;
  background: @success-color;
  button {
    border: 1px solid @xlight-blue;
    margin-top: 10px;
  }
}

#confirmModal {
  border: 5px solid @selected-color;
  text-align: left;
}

#confirmModal2 {
  border: 5px solid @selected-color;
  text-align: left;
}

.labor-left-panel {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: @unselected-color;
  border-radius: 5px 5px 5px 5px;
  padding: 0px;
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
  }
  .progbar {
    padding: 5px 0px 0px 0px;
  }
}

.labor-left-panel-filter {
  padding: 10px;
}

.labor-list-wrapper {
  padding: 0px 10px 20px 0px;
  .labor-actions {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: @unselected-color;
    border-radius: 5px;
    clear: both;
    margin-bottom: 10px;
    opacity: 1;
    overflow: auto;
    padding: 10px;
    span {
      display: inline-block;
      margin-left: 20px;
      padding: 0px;
    }
    button {
      margin-top: 1px;
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
  .labor-actions.disabled {
    opacity: 0.5;
  }

  .labor-entry-wrapper {
    padding: 0;
    margin-bottom: 10px;

    .entry-outer {
      cursor: pointer;
      -ms-transition: 0.1s ease-in all;
      -o-transition: 0.1s ease-in all;
      -webkit-transition: 0.1s ease-in all;
      -moz-transition: 0.1s ease-in all;
      transition: 0.1s ease-in all;

      border-radius: 5px;
      border: none;
      background-color: @xlight-gray;
      overflow: auto;

      &.selected {
        background-color:@selected-color;
      }

      .btn-glyph {
        color: @med-gray;
        cursor: pointer;
        font-size: 1.2em;
        padding: 5px;
        &.hover {
          text-shadow: none !important;
          -webkit-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -o-transform: none !important;
          transform: none !important;
        }
        &.small {
          font-size: 0.8em;
        }
        &.selected {
          color: @blue;
        }
      }
      &:hover {
        -moz-box-shadow: 2px 2px 5px 0px @shadow-color;
        -webkit-box-shadow: 2px 2px 5px 0px @shadow-color;
        box-shadow: 2px 2px 5px 0px @shadow-color;
        cursor: pointer;
        -webkit-transform: translate(-1px, -1px);
        -moz-transform: translate(-1px, -1px);
        -ms-transform: translate(-1px, -1px);
        -o-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
      }
      .entry-inner {
        width: ~"calc(100% - 30px)";
        float: left;
        background-color: @light-gray;
        min-height: 40px;
        -webkit-border-radius: 0px 5px 5px 0px;
        -moz-border-radius: 0px 5px 5px 0px;
        border-radius: 0px 5px 5px 0px;
        padding: 2px;
        border-left: 2px solid @med-gray;
        .hostname {
          -moz-border-radius: 5px 0px 0px 0px;
          -webkit-border-radius: 5px 0px 0px 0px;
          border-radius: 5px 0px 0px 0px;
          font-size: 1.0em;
          padding: 2px 10px;
        }
        .labor-owner {
          padding: 2px 10px;
          font-size: 0.8em;
        }
        .info-panel {
          clear: both;
          font-size: 0.8em;
          padding: 5px;
          ul {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            background: @white;
            border-radius: 5px;
            display: block;
            margin: 0px;
            padding: 0px;
          }
          li {
            display: inline-block;
            margin-right: 5px;
            padding: 0;
          }
          .label-holder {
            float: left;
            font-size: 1em;
            font-weight: bold;
            margin: 7px 5px 5px 0px;
          }
          .details {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            background: @white;
            border-radius: 5px;
            margin: 0;
            overflow: hidden;
            padding: 5px;
          }
        }
      }
    }
  }

  .labor-count {
    padding-bottom: 10px;
  }
  .quest-info {
    margin: 10px 0px;
    padding: 10px;
    .title {
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
    }
    .info {
      font-size: 0.8em;
      text-align: center;
    }
    .details {
      padding: 20px 10px 0px 10px;
    }
  }
}

.labor-list-row.ng-enter {
  margin-top: -20px;
  opacity: 0;
  transition: 0.15s ease-out all;
}

.labor-list-row.ng-enter-active {
  margin-top: 0px;
  opacity: 1;
}

.labor-list-row.ng-enter-stagger {
  -moz-transition-delay: 0.05s;
  -moz-transition-duration: 0s;
  -ms-transition-delay: 0.05s;
  -ms-transition-duration: 0s;
  -o-transition-delay: 0.05s;
  -o-transition-duration: 0s;
  -webkit-transition-delay: 0.05s;
  -webkit-transition-duration: 0s;
  transition-delay: 0.05s;
  transition-duration: 0s;
}

.pageSelectorBar {
  overflow: auto;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  span {
    vertical-align: middle;
  }
}

.user-home {
  button {
    padding: 20px;
    float: none;
    margin-top: 2em;
    background: @btn-color;
    min-width: 250px;
    &.ng-enter {
      margin-top: 3em;
      opacity: 0.25;
      background: @med-gray;
      -webkit-transition: 0.5s ease-out all;
      -moz-transition: 0.5s ease-out all;
      -ms-transition: 0.5s ease-out all;
      -o-transition: 0.5s ease-out all;
      transition: 0.5s ease-out all;;
      -webkit-box-shadow: 0 0 5px 5px @med-gray;
      -moz-box-shadow: 0 0 5px 5px @med-gray;
      box-shadow: 0 0 5px 5px @med-gray;
    }
    &.ng-enter-active {
      margin-top: 2em;
      opacity: 1;
      background: @btn-color;
      -webkit-box-shadow: 0 0 0px 0px @med-gray;
      -moz-box-shadow: 0 0 0px 0px @med-gray;
      box-shadow: 0 0 0px 0px @med-gray;
    }
  }
  .banner {
    font-size: 3em;
    text-align: center;
    margin-top: 3em;
    &.ng-enter {
      margin-top: 2em;
      opacity: 0;
      -webkit-transition: 0.5s ease-out all;
      -moz-transition: 0.5s ease-out all;
      -ms-transition: 0.5s ease-out all;
      -o-transition: 0.5s ease-out all;
      transition: 0.5s ease-out all;;
    }
    &.ng-enter-active {
      margin-top: 3em;
      opacity: 1;
    }
  }
  .quest-info {
    font-size: 1.5em;
    text-align: center;
  }
  .labor-info {
    font-size: 1.5em;
    text-align: center;
  }
  .quest-info-holder {
    text-align: center;
    margin-top: 3em;
    background: @med-gray;
    padding: 20px;
    opacity: 0.25;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 250px;
    color: @light-gray;
    -webkit-box-shadow: 0 0 5px 5px @med-gray;
    -moz-box-shadow: 0 0 5px 5px @med-gray;
    box-shadow: 0 0 5px 5px @med-gray;
  }
}

