@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("//fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf") format("truetype");
}

.container-fluid {
    padding: 0px;
}

body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

h1 {
    margin: 0px;
    padding: 0px;
}

#header {
    color: #121212;
    font-size: 3em;
    padding: 10px;
}

.main-container {
    padding-top: 0px;
    padding-bottom: 20px;
}

.quest-list {
    background: #fff5cc;
    padding: 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}


.quest-list h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.quest-list .progbar {
    padding: 5px 0px 0px 0px;
}


.quest-list-header {
}

.quest-list-entry {
    padding: 10px 10px 20px 10px;
    border-bottom: #d0d4d9 1px solid;
}

.quest-list-entry:last-child {
    border-bottom: none;
}

.quest-list-entry:hover:not(.selected) {
    background: #ffffff;
    cursor: pointer;
}

.quest-list-entry.selected {
    background: #fffdec;
}

.quest-details .quest-overview {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.quest-labors {
    font-size: 1.2em;
}

.quest-labors .header {
    font-weight: bold;
}

.quest-labors .labor-entry:hover {
    background: #cce6fa;
}

.quest-labors .owner-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
}

.quest-labors .owner-group:nth-child(odd) {
    background: #f6f9fc;
}

.quest-labors .owner-group .type-group {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}