@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("//fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf") format("truetype");
}

.container-fluid {
    padding: 0px;
}

body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0px 0px 20px 0px;
    font-size: 1.2em;
    /*background-color: #25282b;*/
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    font-weight: bold;
}

select {
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 5px;
    border: 1px #fce897 solid;
}

input {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px #fce897 solid;
}

textarea {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px #fce897 solid;
}

button {
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px #fce897 solid;
}

button:hover {
    box-shadow: 2px 2px 3px #25282b;
}

.big-button {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
}

.be-positive {
    background: #ddf0e2 !important;
    border-color: #48ac68 !important;
}

.navbar {
    background: #25282b;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 60px;
    box-shadow: 0px 0px 20px #000000;
}

.navbar-collapse, .navbar-brand {
    height: 60px;
    padding: 5px 0px 0px 0px;
}

.navbar-nav {
    height: 60px;
}

.navbar-nav li {
    vertical-align: middle;
    margin-top: 20px;
    font-size: 1.5em;
}

.navbar-nav li a {
    padding: 5px 20px 5px 20px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 5px #25282b solid;
    color: #7b8994;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
    border-bottom-color: #004c8a;
    color: #d0d4d9 !important;
}

.navbar-nav > .active > a {
    background: none !important;
    color: #ffffff !important;
    border-bottom-color: #007ee5 !important;
}

#header {
    color: #121212;
    font-size: 3em;
    padding: 10px;
}

.main-container {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    /*-webkit-box-shadow: 0px 0px 20px #000000;*/
    /*-moz-box-shadow: 0px 0px 20px #000000;*/
    /*box-shadow: 0px 0px 20px #000000;*/
}

.mini-description {
    border: #d0d4d9 1px solid;
    background: #f6f9fc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.error-message {
    color: #e82110;
    font-weight: bold;
    padding: 5px;
    border: #e82110 2px solid;
    margin: 5px 0px;
}

.success-message {
    color: #48ac68;
    font-weight: bold;
    padding: 5px;
    border: #48ac68 2px solid;
    margin: 5px 0px 10px 0px;
    background: #ddf0e2;
}

.quest-list {
    background: #fff5cc;
    padding: 0px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: #fce897 solid 1px;
}


.quest-list h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.quest-list .progbar {
    padding: 5px 0px 0px 0px;
}


.quest-list-filter {
    padding: 20px 10px 10px 10px;
    border-bottom: #fce897 2px dotted;
}

.quest-list-page-selector {
    clear: both;
    overflow: auto;
}

.quest-list-page-selector ul {
    padding: 5px 0px 5px 0px;
}

.quest-list-page-selector li {
    display: block;
    font-weight: bold;
    float: left;
    padding: 2px 5px 2px 5px;
    border: 1px #fce897 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 4px;
    background: #fff5cc;
    cursor: pointer;
}

.quest-list-page-selector li:hover {
    background: #FFFFFF;
    box-shadow: 2px 2px 3px #25282b;
}

.quest-list-page-selector .selected {
    background: #FFFFFF;
}

.quest-list-entry {
    padding: 10px 10px 20px 10px;
    border-bottom: #fce897 1px solid;
}

.quest-list-entry:last-child {
    border-bottom: none;
}

.quest-list-entry:hover:not(.selected) {
    background: #ffffff;
    cursor: pointer;
}

.quest-list-entry.selected {
    background: #fffdec;
}

.quest-details {
    padding: 20px 0px 20px 0px;
}

.quest-details .quest-overview {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.quest-labors {
    font-size: 1.2em;
}

.quest-labors .row {
    margin: 0;
}

.quest-labors .header {
    font-weight: bold;
}

.quest-labors .labor-entry:hover {
    background: #cce6fa;
}

.quest-labors .owner-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
}

.quest-labors .owner-group:nth-child(odd) {
    background: #f6f9fc;
}

.quest-labors .owner-group .type-group {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quest-creation .helper-panel {
    background: #fff5cc;
    padding: 10px;
    border: #fce897 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0px;
}

.quest-creation .create-panel {
    padding: 10px;
}

.quest-creation .host-list {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #fce897 solid 1px;
    margin: 5px 0px;
    min-height: 50px;
    max-height: 200px;
    overflow: scroll;
    background: #f6f9fc;
    padding: 0px 5px 0px 5px;
}

.remove-img-button {
    cursor: pointer;
}

.create-panel input, .create-panel button, .create-panel select, .create-panel .host-list {
    border: #d0d4d9 1px solid;
}

.create-panel textarea {
    border: #d0d4d9 1px solid;
}

.modal-wrapper {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,.6);
    z-index: 20;
    opacity: 1;
}

.modal-wrapper.fade.ng-enter {
    transition: 0.25s ease-out all;
    opacity: 0;
}

.modal-wrapper.fade.ng-enter-active {
    opacity: 1;
}

.modal-wrapper.fade.ng-leave {
    transition: 0.25s ease-out all;
    opacity: 1;
}

.modal-wrapper.fade.ng-leave-active {
    opacity: 0;
}

.modal-dialog {
    width: 500px;
    position: fixed;
    background: #ffffff;
    opacity: 1;
    z-index: 1;
    padding: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    top: 100px;
    left: 50%;
    margin-left: -250px;

    -webkit-box-shadow: 0 0 20px #000000;
    -moz-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
}

#fatesModal {
    width: 900px;
    height: 540px;
    margin-left: -450px;
}

#successModal {
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

/* LABOR LIST */
.labor-left-panel {
    background: #fff5cc;
    padding: 0px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: #fce897 solid 1px;
}

.labor-left-panel h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.labor-left-panel .progbar {
    padding: 5px 0px 0px 0px;
}

.labor-left-panel-filter {
    padding: 20px 10px 10px 10px;
}

.labor-left-panel-page-selector {
    clear: both;
    overflow: auto;
}

.labor-left-panel-page-selector ul {
    padding: 5px 0px 5px 0px;
}

.labor-left-panel-page-selector li {
    display: block;
    font-weight: bold;
    float: left;
    padding: 2px 5px 2px 5px;
    border: 1px #fce897 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 4px;
    background: #fff5cc;
    cursor: pointer;
}

.labor-left-panel-page-selector li:hover {
    background: #FFFFFF;
    box-shadow: 2px 2px 3px #25282b;
}

.labor-left-panel-page-selector .selected {
    background: #FFFFFF;
}

.labor-list-wrapper {
    padding: 0px 10px 20px 0px;
}

.labor-list-wrapper .labor-actions {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e0e5ea;
    padding: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    opacity: 1;
}

.labor-list-wrapper .labor-actions.disabled {
    opacity: 0.5;
}

.labor-list-wrapper .labor-entry {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 10px;
    background: #e0e5ea;
    border: transparent 2px solid;
    padding: 2px;

    overflow: auto;
}

.labor-list-wrapper .labor-entry:hover {
    -webkit-box-shadow: 0 0 5px 0px #7b8994;
    -moz-box-shadow: 0 0 5px 0px #7b8994;
    box-shadow: 0 0 5px 0px #7b8994;
    cursor: pointer;
}

.labor-list-wrapper .labor-entry.selected {
    background: #72b6ec;
}

.labor-list-wrapper .labor-entry .row {
    margin: 0px;
}

.labor-list-wrapper .labor-entry .hostname {
    font-size: 1.0em;
    font-weight: bold;
    padding: 2px 10px;
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.labor-list-wrapper .labor-entry .labor-type {
    padding: 2px 10px;
    text-align: right;
    font-size: 1.0em;
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.labor-list-wrapper .labor-entry .panel-label {
    padding-left: 5px;
}

.labor-list-wrapper .labor-entry .tags {
    padding: 5px;
    font-size: 0.9em;
}

.labor-list-wrapper .labor-entry .tags ul {
    display: block;
    margin: 2px 0px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}

.labor-list-wrapper .labor-entry .tags li {
    display: inline-block;
    padding: 2px 5px;
}

.labor-list-wrapper .labor-entry .quest-info {
    padding: 5px;
    font-size: 0.9em;
}

.labor-list-wrapper .labor-entry .quest-info-details {
    margin: 2px 0px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}

