<div ng-controller="LaborStatusCtrl as lsc">
    <div class="row">
        <!-- SIDEBAR-->
        <div class="col-md-3 sidebar">
            <!-- FILTERING INPUTS -->
            <div class="sidebar-filter">
                 <div class="row">
                    <div class="col-md-10"><label for="filterOwn">Show only my
                        labors:</label></div>
                     <div class="col-md-2">
                         <span id="filterOwn" role="checkbox" class="glyphicon glyphicon-check btn-glyph"
                                ng-class="{'selected': lsc.filterOwn}"
                                ng-click="lsc.filterOwn = !lsc.filterOwn; lsc.filterOwnChanged()">
                        </span>
                     </div>
                </div>
                <div>
                    <label for="ownerFilter">Filter by username:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="lsc.runFilter()">
                            <input id="ownerFilter" type="text"
                                   ng-disabled="lsc.filterOwn"
                                   ng-model="lsc.hostOwnerInput"/>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <span role="button"
                              aria-label="Clear host owner filter"
                              class="glyphicon glyphicon-remove-sign btn-glyph"
                              ng-click="lsc.hostOwnerInput = ''; lsc.filterOwn = false">
                        </span>
                    </div>
                </div>
                <div style="margin-top: 5px">
                    <label for="queryFilter">Filter by query:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="lsc.runFilter()">
                            <input id="queryFilter" type="text" ng-model="lsc.queryInput" />
                        </form>
                    </div>
                    <div class="col-md-2">
                        <span role="button" aria-label="Clear query filter"
                              class="glyphicon glyphicon-remove-sign btn-glyph"
                              ng-click="lsc.queryInput = ''">
                        </span>
                    </div>
                </div>
                <div style="margin-top: 5px">
                    <label for="queryFilter">Filter by hostname:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="lsc.runFilter()">
                            <input id="hostnameFilter" type="text" ng-model="lsc.hostnameInput" />
                        </form>
                    </div>
                    <div class="col-md-2">
                        <span role="button" aria-label="Clear hostname filter"
                              class="glyphicon glyphicon-remove-sign btn-glyph"
                              ng-click="lsc.hostnameInput = ''">
                        </span>
                    </div>
                </div>
                <div style="margin-top: 5px">
                    <label for="event-type-selection">Filter by labor:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <select style="margin-left: 0" id="event-type-selection" ng-model="lsc.filterFatesSelection"
                                ng-model-options="lsc.selectOptions"
                                ng-options="optValue.description || '' for optValue in lsc.allFates">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="lsc.runFilter()">GO</button>
                    </div>
                </div>
                <div ng-if="lsc.errorMessage" class="error-message" ng-bind="lsc.errorMessage"></div>
            </div>
        </div>
        <!--MAIN LIST OF LABORS AREA-->
        <div class="col-md-9">
            <div class="labor-list-wrapper">
                <div class="labor-actions">
                    <button style="float:left" ng-click="lsc.selectAll()">
                        Select All
                    </button>
                    <button style="float:left" ng-click="lsc.deselectAll()">
                        Deselect All
                    </button>
                    <span>
                    Throw <select ng-disabled="lsc.selected.length == 0"
                            ng-model="lsc.throwableEventTypesSelection"
                            ng-model-options="lsc.selectOptions"
                            ng-options="optValue.description for optValue in lsc.throwableTypes">
                        </select> for {{lsc.selected.length}} selected hosts.
                    </span>
                    <button class="create-button be-positive" ng-click="lsc.createEventsModal = true" ng-disabled="lsc.selected.length == 0">
                        <img ng-if="lsc.createInProgress" src="/img/loading_15.gif" style="margin: 5px; float: left" />
                        Throw Events
                    </button>
                </div>
                <div class="success-message" ng-if="lsc.createSuccessMessage">{{lsc.createSuccessMessage}}</div>
                <div class="error-message" ng-if="lsc.createErrorMessage">{{lsc.createErrorMessage}}</div>
                <div class="pageSelectorBar" ng-if="lsc.laborData">
                    <span>Showing {{lsc.offset + 1}} to {{e = (lsc.offset|num) + (lsc.limit|num); e < lsc.totalLabors ? e: lsc.totalLabors }} of {{lsc.totalLabors}}</span>
                    <span style="float: right">
                        <label>
                            Limit:
                            <select style="margin-left: 0px;"
                                    ng-model="lsc.limitSetting"
                                    ng-model-options="lsc.limitOptions"
                                    ng-options="optValue for optValue in lsc.limitValues()">
                            </select>
                        </label>
                        <strong style="margin-left: 10px">Page:</strong>
                        <button style="float:none" type="button" ng-click="lsc.pageFirst()">First</button>
                        <button style="float:none" type="button" ng-click="lsc.pagePrev()">Prev</button>
                        <select style="margin-left: 0px;" ng-model="lsc.pageSetting"
                                ng-model-options="lsc.limitOptions"
                                ng-options="pageVal for pageVal in lsc.pageValues()"></select>
                        <button style="float:none" type="button" ng-click="lsc.pageNext()">Next</button>
                        <button style="float:none" type="button" ng-click="lsc.pageLast()">Last</button>
                    </span>
                </div>
                <div ng-if="!lsc.laborData && !lsc.errorMessage" style="padding: 10px;">
                    <img src="/img/loading.gif"/>
                </div>
                <!--LABOR ENTRY REPEATER-->
                <div id="l{{labor.id}}" class="labor-list-row" ng-if="lsc.laborData"
                     ng-repeat="labor in (pageData = (lsc.laborData | limitTo:lsc.limit:lsc.offset)) track by labor.id">
                    <!-- QUEST HEADER -->
                    <div class="quest-info" ng-if="labor.quest && labor.quest.id != pageData[$index-1].quest.id">
                        <div class="title">
                            <a ng-href="/v1/quests/{{labor.quest.id}}">
                            Quest {{labor.quest.id}}
                            </a>
                        </div>
                        <div class="info">Created by <a href="mailto:{{labor.quest.creator}}">{{labor.quest.creator}}</a></div>
                        <div class="details">
                            {{labor.quest.description}}
                        </div>
                    </div>
                    <div class="quest-info" ng-if="!labor.quest && (!pageData[$index-1] || pageData[$index-1].quest)">
                        <div class="title">Labors not part of a quest</div>
                        <div class="details">
                            The following labors were created as a result of events that were not part of a quest creation.
                        </div>
                    </div>
                    <div class="labor-count" ng-if="labor.quest && labor.quest.id != pageData[$index-1].quest.id">
                        <strong>{{lsc.laborsPerQuest[labor.quest.id]}} labors in this quest.</strong>
                    </div>
                    <!-- ACTUAL LABOR ENTRY BITS -->
                    <div class="labor-entry-wrapper" ng-click="lsc.toggleSelect(labor.id)">
                        <div class="entry-outer" ng-class="lsc.selected.indexOf(labor.id) != -1 ? 'selected': ''">
                            <div style="width: 30px; float:left; height: 100%">
                                <span role="checkbox" class="glyphicon glyphicon-check btn-glyph" style="text-align: center; width: 100%"
                                        ng-class="lsc.selected.indexOf(labor.id) != -1 ? 'selected': ''">
                                </span>
                            </div>
                            <div class="entry-inner">
                                <div style="width: 50%; float: left">
                                    <div class="hostname"><strong>{{labor.host.hostname}}:</strong> {{labor.fate.description}}</div>
                                </div>
                                <div style="width: 50%; float:left; text-align: right">
                                    <div class="labor-owner">
                                        <strong>Labor For:&nbsp;</strong>
                                        <span ng-if="labor.forOwner == true">
                                            Server Owner
                                        </span>
                                        <span ng-if="labor.forCreator == true">
                                            Quest Creator
                                        </span>
                                    </div>
                                </div>
                                <div class="info-panel">
                                    <div class="details">
                                        <img ng-if="!lsc.hostTags" src="/img/loading_15.gif" alt="Tag information loading" />
                                        <ul ng-if="lsc.hostTags">
                                            <li><strong>Tags:</strong></li>
                                            <li>
                                                owner=<img ng-if="!lsc.hostOwners" src="/img/loading_15.gif" alt="Owner information loading" />
                                                <span ng-if="lsc.hostOwners">{{lsc.hostOwners[labor.host.hostname]}}</span>
                                            </li>
                                            <li ng-repeat="tag in lsc.hostTags[labor.host.hostname] track by $index">
                                                {{tag}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pageSelectorBar" ng-if="lsc.laborData">
                    <span>Showing {{lsc.offset + 1}} to {{e = (lsc.offset|num) + (lsc.limit|num); e < lsc.totalLabors ? e: lsc.totalLabors }} of {{lsc.totalLabors}}</span>
                    <span style="float: right">
                        <label>
                            Limit:
                            <select style="margin-left: 0px;"
                                    ng-model="lsc.limitSetting"
                                    ng-model-options="lsc.limitOptions"
                                    ng-options="optValue for optValue in lsc.limitValues()">
                            </select>
                        </label>
                        <strong style="margin-left: 10px">Page:</strong>
                        <button style="float:none" type="button" ng-click="lsc.pageFirst()">First</button>
                        <button style="float:none" type="button" ng-click="lsc.pagePrev()">Prev</button>
                        <select style="margin-left: 0px;" ng-model="lsc.pageSetting"
                                ng-model-options="lsc.limitOptions"
                                ng-options="pageVal for pageVal in lsc.pageValues()"></select>
                        <button style="float:none" type="button" ng-click="lsc.pageNext()">Next</button>
                        <button style="float:none" type="button" ng-click="lsc.pageLast()">Last</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div ng-cloak class="modal-wrapper fade" ng-if="lsc.createEventsModal">
        <div id="confirmModal" class="modal-dialog" role="dialog">
            <div class="dialog-callout">"{{lsc.selectedEventType.description}}"</code></div>
            <div class="dialog-text">
                Are you sure you want to create a <code>{{lsc.selectedEventType.category}} {{lsc.selectedEventType.state}}</code> event for {{lsc.selected.length}} servers?
            </div>
            <div class="dialog-buttons">
                <button style="float: none" class="big-button be-positive" ng-click="lsc.createEvents()">Yes</button>
                <button style="float: none" class="big-button" ng-click="lsc.createEventsModal = false">No</button>
            </div>
        </div>
    </div>
</div>
