<div ng-controller="LaborStatusCtrl as lsc">
    <div class="row">
        <div class="col-md-3 labor-left-panel">
            <div class="labor-left-panel-filter">
                <div>
                    <label for="ownerFilter">Filter by username:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="lsc.runFilter()">
                            <input id="ownerFilter" type="text" ng-model="lsc.hostOwnerInput" />
                        </form>
                    </div>
                    <div class="col-md-2">
                        <img src="/img/remove_15.png" alt="Clear owner filter field" class="remove-img-button" ng-click="lsc.hostOwnerInput = ''" />
                    </div>
                </div>
                <div style="margin-top: 5px">
                    <label for="queryFilter">Filter by query:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="lsc.runFilter()">
                            <input id="queryFilter" type="text" ng-model="lsc.queryInput" />
                        </form>
                    </div>
                    <div class="col-md-2">
                        <img src="/img/remove_15.png" alt="Clear query filter field" class="remove-img-button" ng-click="lsc.queryInput = ''" />
                    </div>
                </div>
                <div style="margin-top: 5px">
                    <label for="event-type-selection">Filter by labor's event type:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <select style="margin-left: 0" id="event-type-selection" ng-model="lsc.filterEventTypesSelection"
                                ng-model-options="lsc.selectOptions"
                                ng-options="optValue.category + ' ' + optValue.state for optValue in lsc.allTypes">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="lsc.runFilter()">GO</button>
                    </div>
                </div>
                <div ng-if="lsc.laborData && !lsc.errorMessage" style="padding: 5px 0px 5px 0px">
                    <label>
                        Limit:
                        <select ng-model="lsc.limitSetting"
                                ng-model-options="lsc.limitOptions"
                                ng-options="optValue for optValue in lsc.limitValues()">
                        </select>
                    </label>
                </div>
                <div ng-if="lsc.laborData  && !lsc.errorMessage" class="labor-left-panel-page-selector">
                    <strong>Page:</strong>
                    <button style="float:none" type="button" ng-click="lsc.pageFirst()">First</button>
                    <button style="float:none" type="button" ng-click="lsc.pagePrev()">Prev</button>
                    <select style="margin-left: 0px;" ng-model="lsc.pageSetting"
                            ng-model-options="lsc.limitOptions"
                            ng-options="pageVal for pageVal in lsc.pageValues()"></select>
                    <button style="float:none" type="button" ng-click="lsc.pageNext()">Next</button>
                    <button style="float:none" type="button" ng-click="lsc.pageLast()">Last</button>
                </div>
                <div ng-if="lsc.errorMessage" class="error-message" ng-bind="lsc.errorMessage"></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="labor-list-wrapper">
                <div class="labor-actions">
                    <button style="float:left" ng-click="lsc.selectAll()">
                        Select All
                    </button>
                    <button style="float:left" ng-click="lsc.deselectAll()">
                        Deselect All
                    </button>
                    <span>
                    Throw <select ng-disabled="lsc.selected.length == 0"
                            ng-model="lsc.throwableEventTypesSelection"
                            ng-model-options="lsc.selectOptions"
                            ng-options="optValue.category + ' ' + optValue.state for optValue in lsc.throwableTypes">
                        </select> for {{lsc.selected.length}} selected hosts.
                    </span>
                    <button class="create-button be-positive" ng-click="lsc.createEventsModal = true" ng-disabled="lsc.selected.length == 0">
                        <img ng-if="lsc.createInProgress" src="/img/loading_15.gif" style="margin: 5px; float: left" />
                        Throw Events
                    </button>
                </div>
                <div class="success-message" ng-if="lsc.createSuccessMessage">{{lsc.createSuccessMessage}}</div>
                <div class="error-message" ng-if="lsc.createErrorMessage">{{lsc.createErrorMessage}}</div>
                <div ng-if="!lsc.laborData && !lsc.errorMessage" style="padding: 10px;">
                    <img src="/img/loading.gif"/>
                </div>
                <div class="labor-list-row" ng-if="lsc.laborData  && !lsc.errorMessage"
                     ng-repeat="labor in (pageData = (lsc.laborData | limitTo:lsc.limit:lsc.offset)) track by labor.id">
                    <div class="quest-info" ng-if="labor.quest && labor.quest.id != pageData[$index-1].quest.id">
                        <div class="title">
                            <a ng-href="/v1/quests/{{labor.quest.id}}">
                            Quest {{labor.quest.id}}
                            </a>
                        </div>
                        <div class="info">Created by <a href="mailto:{{labor.quest.creator}}">{{labor.quest.creator}}</a></div>
                        <div class="details">
                            {{labor.quest.description}}
                        </div>
                    </div>
                    <div class="quest-info" ng-if="!labor.quest && (!pageData[$index-1] || pageData[$index-1].quest)">
                        <div class="title">Labors not part of a quest</div>
                        <div class="details">
                            The following labors were created as a result of events that were not part of a quest creation.
                        </div>
                    </div>
                    <div class="labor-entry"
                         ng-click="lsc.toggleSelect(labor.id)"
                         ng-class="lsc.selected.indexOf(labor.id) != -1 ? 'selected': ''">
                        <div class="row">
                            <div class="hostname col-md-6">{{labor.host.hostname}}</div>
                            <div class="labor-type col-md-6">{{labor.creationEvent.eventType.category}} {{labor.creationEvent.eventType.state}}</div>
                        </div>
                        <div class="row">
                            <div class="info-panel col-md-6">
                                <div class="label-holder">
                                    <strong>Tags:</strong>
                                </div>
                                <div class="details">
                                    <img ng-if="!lsc.hostTags" src="/img/loading_15.gif" alt="Tag information loading" />
                                    <ul ng-if="lsc.hostTags">
                                        <li>
                                            owner=<img ng-if="!lsc.hostOwners" src="/img/loading_15.gif" alt="Owner information loading" />
                                            <span ng-if="lsc.hostOwners">{{lsc.hostOwners[labor.host.hostname]}}</span>
                                        </li>
                                        <li ng-repeat="tag in lsc.hostTags[labor.host.hostname] track by $index">
                                            {{tag}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info-panel col-md-6">
                                <div class="label-holder">
                                    <strong>Labor For:</strong>
                                </div>
                                <div class="details">
                                    <div ng-if="labor.forOwner == true">
                                        Server Owner
                                    </div>
                                    <div ng-if="labor.forCreator == true">
                                        Quest Creator
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="lsc.laborData  && !lsc.errorMessage" class="labor-left-panel-page-selector">
                    <strong>Page:</strong>
                    <button style="float:none" type="button" ng-click="lsc.pageFirst()">First</button>
                    <button style="float:none" type="button" ng-click="lsc.pagePrev()">Prev</button>
                    <select style="margin-left: 0px;" ng-model="lsc.pageSetting"
                            ng-model-options="lsc.limitOptions"
                            ng-options="pageVal for pageVal in lsc.pageValues()"></select>
                    <button style="float:none" type="button" ng-click="lsc.pageNext()">Next</button>
                    <button style="float:none" type="button" ng-click="lsc.pageLast()">Last</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-cloak class="modal-wrapper fade" ng-if="lsc.createEventsModal">
        <div id="confirmModal" class="modal-dialog" role="dialog">
            <div class="dialog-callout">The event <code>{{lsc.selectedEventType.category}} {{lsc.selectedEventType.state}}</code> means: {{lsc.selectedEventType.description}}</div>
            <div class="dialog-text">
                Are you sure you want to create a <code>{{lsc.selectedEventType.category}} {{lsc.selectedEventType.state}}</code> event for {{lsc.selected.length}} servers?
            </div>
            <div class="dialog-buttons">
                <button style="float: none" class="big-button be-positive" ng-click="lsc.createEvents()">Yes</button>
                <button style="float: none" class="big-button" ng-click="lsc.createEventsModal = false">No</button>
            </div>
        </div>
    </div>
</div>
