<div ng-controller="QuestStatusCtrl as qc">
    <div class="row">
        <!-- SIDE BAR-->
        <div class="col-md-3 sidebar">
            <!-- LIST FILTERING -->
            <div class="sidebar-filter">
                <div>
                    <button class="big-wide-button be-positive"
                            style="margin-bottom: 10px;"
                            ng-click="qc.goToCreatePage()">Create Quest
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-10"><label for="filterOwn">Show only my
                        quests:</label></div>
                    <div class="col-md-2">
                        <span id="filterOwn" role="checkbox"
                              class="glyphicon glyphicon-check btn-glyph"
                              ng-class="{'selected': qc.filterOwn}"
                              ng-click="qc.filterOwn = !qc.filterOwn; qc.filterOwnChanged()">
                        </span>
                    </div>
                </div>
                <div>
                    <label for="creatorFilter">Filter by creator's
                        username:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="qc.runNewFilter()">
                            <input id="creatorFilter" type="text"
                                   ng-disabled="qc.filterOwn"
                                   ng-model="qc.filterByCreator"/>
                        </form>
                    </div>
                    <div class="col-md-2">
                         <span role="button" aria-label="Clear creator filter"
                               class="glyphicon glyphicon-remove-sign btn-glyph"
                               ng-click="qc.filterByCreator = ''; qc.filterOwn = false">
                        </span>
                    </div>
                </div>
                <div style="margin-top: 5px">
                    <label for="queryFilter">Filter by query:</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="qc.runNewFilter()">
                            <input id="queryFilter" type="text"
                                   ng-model="qc.queryInput"/>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <span role="button" aria-label="Clear query filter"
                              class="glyphicon glyphicon-remove-sign btn-glyph"
                              ng-click="qc.queryInput = ''">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <button type="button" ng-click="qc.runNewFilter()">GO
                        </button>
                    </div>
                </div>
                <div style="padding: 5px 0px 5px 0px">
                    <label>
                        Limit:
                        <select ng-model="qc.limitSetting"
                                ng-model-options="qc.limitOptions"
                                ng-options="optValue for optValue in qc.limitValues()">
                        </select>
                    </label>
                </div>
                <div class="quest-list-page-selector"
                     style="padding-bottom: 5px;">
                    <strong>Page:</strong>
                    <button style="float:none" type="button"
                            ng-click="qc.pageFirst()">First
                    </button>
                    <button style="float:none" type="button"
                            ng-click="qc.pagePrev()">Prev
                    </button>
                    <select style="margin-left: 0px;" ng-model="qc.pageSetting"
                            ng-model-options="qc.limitOptions"
                            ng-options="pageVal for pageVal in qc.pageValues()"></select>
                    <button style="float:none" type="button"
                            ng-click="qc.pageNext()">Next
                    </button>
                    <button style="float:none" type="button"
                            ng-click="qc.pageLast()">Last
                    </button>
                </div>
                <div ng-if="qc.errorMessage" class="error-message"
                     ng-bind="qc.errorMessage"></div>
            </div>
            <!-- LOADING INDICATOR -->
            <div class="quest-list-entry selected"
                 ng-if="!qc.selectedQuest && !qc.errorMessage">
                <div>
                    <img src="/img/loading.gif"/>
                </div>
            </div>
            <!-- LIST OF QUESTS WITH OVERVIEWS -->
            <div class="quest-list">
                <div class="quest-list-entry"
                     ng-repeat="quest in qc.questData | limitTo:qc.limit:qc.offset track by quest.id"
                     ng-class="[(qc.selectedQuest.id == quest.id) ? 'selected': '', quest.overDue ? 'overdue': '']"
                     ng-click="qc.newQuestSelection(quest)">
                    <div>
                        <strong>Quest {{quest.id}}</strong>
                    </div>
                    <div>{{quest.description}}</div>
                    <div quest-progress-bar class="progbar" data="quest"></div>
                    <div><span style="font-size: .8em">Embarked on: {{quest.embarkTime}}</span>
                    </div>
                    <div ng-if="quest.targetTime"><span style="font-size: .8em">Due on: {{quest.targetTime}}</span>
                    </div>
                    <div><span style="font-size: .8em">Created by: {{quest.creator}}</span>
                    </div>
                </div>
            </div>
            <!-- BOTTOM OF LIST PAGENATOR -->
            <div class="sidebar-filter" style="border: none; -webkit-border-radius: 0px 0px 5px 5px;-moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;">
                <div style="padding: 5px 0px 5px 0px">
                    <label>
                        Limit:
                        <select ng-model="qc.limitSetting"
                                ng-model-options="qc.limitOptions"
                                ng-options="optValue for optValue in qc.limitValues()">
                        </select>
                    </label>
                </div>
                <div class="quest-list-page-selector"
                     style="padding-bottom: 5px;">
                    <strong>Page:</strong>
                    <button style="float:none" type="button"
                            ng-click="qc.pageFirst()">First
                    </button>
                    <button style="float:none" type="button"
                            ng-click="qc.pagePrev()">Prev
                    </button>
                    <select style="margin-left: 0px;" ng-model="qc.pageSetting"
                            ng-model-options="qc.limitOptions"
                            ng-options="pageVal for pageVal in qc.pageValues()"></select>
                    <button style="float:none" type="button"
                            ng-click="qc.pageNext()">Next
                    </button>
                    <button style="float:none" type="button"
                            ng-click="qc.pageLast()">Last
                    </button>
                </div>
            </div>
        </div>
        <!-- SELECTED QUEST DETAILS -->
        <div class="col-md-9">
            <div class="row" style="margin-left: 0px">
                <div id="quest-details" class="col-md-12">
                    <!-- LOADING INDICATOR -->
                    <div ng-if="!qc.selectedQuestDetails && !qc.errorMessage"
                         style="padding: 10px;">
                        <img src="/img/loading.gif"/>
                    </div>
                    <div ng-if="qc.labors" class="quest-details">
                        <div quest-progress-chart
                             colors="qc.colors"
                             types="qc.countByTypes"
                             data="qc.selectedQuestDetails">
                        </div>
                        <div class="quest-overview">
                            <span>
                                {{qc.selectedQuestUniqueLabors}} total labors.
                            </span>
                            <span ng-if="qc.selectedQuestStartingLabors">
                                {{qc.selectedQuestStartingLabors}} labors unstarted.
                            </span>
                            <span ng-if="qc.selectedQuestInProgLabors">
                                {{qc.selectedQuestInProgLabors}} labors in progress.
                            </span>
                            <span ng-if="qc.selectedQuestCompletedLabors">
                                {{qc.selectedQuestCompletedLabors}} labors completed.
                            </span>
                        </div>
                        <!-- LIST OF LABORS IN SELECTED QUEST -->
                        <div class="quest-labors">
                            <div class="header row">
                                <div class="col-md-4 row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">Labor Owner</div>
                                </div>
                                <div class="col-md-8 row">
                                    <div class="col-md-3">Host</div>
                                    <div class="col-md-4">Host Owner</div>
                                    <div class="col-md-5">Labor</div>
                                </div>
                            </div>
                            <!-- grouping of all machines by an owner -->
                            <div class="owner-group"
                                 ng-repeat="(owner, labors) in qc.labors">
                                <!-- subgrouping by labor type -->
                                <div class="type-group"
                                     ng-repeat="(laborType, details) in labors">
                                    <!-- an individual row for the owner-->
                                    <div class="row"
                                         ng-repeat="host in details.hosts track by $index">
                                        <div class="col-md-4 row">
                                            <div class="col-md-3">
                                                <span ng-if="$parent.$first && $first">
                                                    <a href="mailto:{{owner}}{{owner.indexOf('@') == -1 ? '@' + qc.domain : ''}}"
                                                       target="_blank">
                                                        <img src="/img/send_email_15.png"
                                                             alt="Send email to {{owner}}"/>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="col-md-9">
                                                <span ng-if="$parent.$first && $first">
                                                    {{owner}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-8 labor-entry row"
                                             ng-class="qc.selectedLabors.indexOf(host) != -1 ? 'selected': ''"
                                             ng-click="qc.toggleSelect(host)"
                                                >
                                            <div class="col-md-3">{{host}}
                                            </div>
                                            <div class="col-md-4">
                                                {{qc.hostOwners[host]}}
                                            </div>
                                            <div class="col-md-5">
                                                {{laborType}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="qc.selectedQuest['creator'] == qc.user" class="quest-actions">
                            <button style="float:left"
                                    ng-click="qc.selectAll()">
                                Select All
                            </button>
                            <button style="float:left"
                                    ng-click="qc.deselectAll()">
                                Deselect All
                            </button>
                            <span>
                            Throw <select ng-disabled="qc.selectedLabors.length == 0"
                                          ng-model="qc.creatorThrowableTypesSelection"
                                          ng-model-options="qc.selectOptions"
                                          ng-options="optValue.description for optValue in qc.creatorThrowableTypes">
                            </select> for {{qc.selectedLabors.length}} selected hosts.
                            </span>
                            <button class="create-button be-positive"
                                    ng-click="qc.createEventsModal = 'creator'"
                                    ng-disabled="qc.selectedLabors.length == 0">
                                <img ng-if="qc.createInProgress"
                                     src="/img/loading_15.gif"
                                     style="margin: 5px; float: left"/>
                                Throw Events
                            </button>
                        </div>
                        <div ng-if="qc.selectedQuest['creator'] != qc.user" class="quest-actions">
                            <button style="float:left"
                                    ng-click="qc.selectAll()">
                                Select All
                            </button>
                            <button style="float:left"
                                    ng-click="qc.deselectAll()">
                                Deselect All
                            </button>
                            <span>
                            Throw <select ng-disabled="qc.selectedLabors.length == 0"
                                          ng-model="qc.userThrowableTypesSelection"
                                          ng-model-options="qc.selectOptions"
                                          ng-options="optValue.description for optValue in qc.userThrowableTypes">
                            </select> for {{qc.selectedLabors.length}} selected hosts.
                            </span>
                            <button class="create-button be-positive"
                                    ng-click="qc.createEventsModal = 'user'"
                                    ng-disabled="qc.selectedLabors.length == 0">
                                <img ng-if="qc.createInProgress"
                                     src="/img/loading_15.gif"
                                     style="margin: 5px; float: left"/>
                                Throw Events
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-cloak class="modal-wrapper fade" ng-if="qc.createEventsModal == 'creator'">
        <div id="confirmModal" class="modal-dialog" role="dialog">
            <div class="dialog-callout">
                "{{qc.selectedCreatorType.description}}"
            </div>
            <div class="dialog-text">
                Are you sure you want to create a <code>{{qc.selectedCreatorType.category}}
                {{qc.selectedCreatorType.state}}</code> event for
                {{qc.selectedLabors.length}} servers?
            </div>
            <div class="dialog-buttons">
                <button style="float: none" class="big-button be-positive"
                        ng-click="qc.createEvents('creator')">Yes
                </button>
                <button style="float: none" class="big-button"
                        ng-click="qc.createEventsModal = false">No
                </button>
            </div>
        </div>
    </div>
    <div ng-cloak class="modal-wrapper fade" ng-if="qc.createEventsModal == 'user'">
        <div id="confirmModal2" class="modal-dialog" role="dialog">
            <div class="dialog-callout">
                "{{qc.selectedUserType.description}}"
            </div>
            <div class="dialog-text">
                Are you sure you want to create a <code>{{qc.selectedUserType.category}}
                {{qc.selectedUserType.state}}</code> event for
                {{qc.selectedLabors.length}} servers?
            </div>
            <div class="dialog-buttons">
                <button style="float: none" class="big-button be-positive"
                        ng-click="qc.createEvents('user')">Yes
                </button>
                <button style="float: none" class="big-button"
                        ng-click="qc.createEventsModal = false">No
                </button>
            </div>
        </div>
    </div>
</div>
