<div ng-controller="QuestStatusCtrl as qc">
    <div class="row">
        <div class="col-md-3 quest-list">
            <div class="quest-list-filter">
                <div>
                    <strong>Filtering Options</strong>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" ng-model="qc.filterByCreator" />
                    </div>
                    <div class="col-md-2">
                        <button ng-click="qc.runNewFilter()">GO</button>
                    </div>
                </div>
                <div style="padding: 5px 0px 5px 0px">
                    <label>
                        Limit:
                        <select ng-model="qc.limitSetting"
                                ng-model-options="qc.limitOptions"
                                ng-options="optValue for optValue in qc.limitValues()">
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        Page:
                        <select ng-model="qc.pageSetting"
                                ng-model-options="qc.limitOptions"
                                ng-options="optValue for optValue in qc.pageValues()">
                        </select>
                    </label>
                </div>
                <div ng-if="qc.errorMessage" class="error-message" ng-bind="qc.errorMessage"></div>
            </div>
            <div class="quest-list-entry selected"
                 ng-if="!qc.selectedQuest">
                <div>
                    <img src="/img/loading.gif"/>
                </div>
            </div>
            <div class="overviews">
                <div class="quest-list-entry"
                     ng-repeat="quest in qc.questData | limitTo:qc.limit:qc.offset track by quest.id"
                     ng-class="(qc.selectedQuest.id == quest.id) ? 'selected': ''"
                     ng-click="qc.newQuestSelection(quest)">
                    <div>
                        <strong>Quest {{quest.id}}</strong>
                    </div>
                    <div>{{quest.description}}</div>
                    <div quest-progress-bar class="progbar" data="quest"></div>
                    <div><span style="font-size: .8em">Embarked on: {{quest.embarkTime}}</span>
                    </div>
                    <div><span style="font-size: .8em">Created by: {{quest.creator}}</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-left: 5px">
            <div class="col-md-12">
            <div ng-if="!qc.labors">
                <img src="/img/loading.gif"/>
            </div>
            <div ng-if="qc.labors" class="quest-details">
                <div quest-progress-chart
                     colors="qc.colors"
                     types="qc.types"
                     data="qc.selectedQuestDetails"></div>
                <div class="quest-overview">
                    <span>
                        {{qc.selectedQuestDetails.totalLabors}} total labors.  {{qc.selectedQuestDetails.openLabors}} remain open.
                    </span>
                </div>
                <div class="quest-labors">
                    <div class="header row">
                        <div class="col-md-4">Owner</div><div class="col-md-4">Host</div><div class="col-md-4">Labor</div>
                    </div>
                    <div class="owner-group" ng-repeat="(owner, labors) in qc.labors">
                        <div class="type-group" ng-repeat="(laborType, details) in labors">
                            <div class="labor-entry row" ng-repeat="host in details.hosts track by $index">
                                <div class="col-md-4"><span ng-if="$parent.$first && $first">{{owner}}</span></div><div class="col-md-4">{{host}}</div><div class="col-md-4">{{laborType}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>