<div ng-cloak ng-controller="QuestCreationCtrl as qc">
    <div class="row quest-creation col-md-12">
        <div class="row">
            <div class="col-md-12 create-panel">
                <div><h1>Create a quest:</h1></div>
            </div>
        </div>
        <!-- ROW ONE -->
        <div class="row panel-row top-row">
            <div class="col-md-6 create-panel">
                <div><strong>For {{qc.hostList.length}} hosts:</strong></div>
                <div class="host-list" box-continuation watch="qc.hostList">
                    <div ng-repeat="host in qc.hostList track by $index">
                        <span role="button" aria-label="Remove host {{host}} from list" class="glyphicon glyphicon-remove-sign btn-glyph small"
                                ng-click="qc.removeHost(host)">
                        </span>
                        {{host}}
                    </div>
                </div>
                <div class="error-message" ng-if="qc.addHostErrorMessages.length != 0">
                    <div ng-repeat="message in qc.addHostErrorMessages track by $index">{{message}}</div>
                </div>
                <div><label for="hostName">Add host:</label></div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="qc.addHost(qc.hostNameEntry); qc.hostNameEntry = ''">
                            <input style="width: 100%" id="hostName" type="text" ng-model="qc.hostNameEntry" />
                        </form>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="qc.addHost(qc.hostNameEntry); qc.hostNameEntry = ''">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 helper-panel">
                <div><label for="queryString">Look up hosts by query:</label></div>
                <div class="error-message" ng-if="qc.queryErrorMessage">{{qc.queryErrorMessage}}</div>
                <div class="row">
                    <div class="col-md-10">
                        <form ng-submit="qc.runQuery()">
                            <input style="width: 100%" id="queryString" type="text" ng-model="qc.queryString" />
                        </form>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="qc.runQuery()">Go</button>
                    </div>
                </div>
                <div class="host-list" box-continuation watch="qc.queriedHosts">
                    <div><img ng-if="qc.queryInProgress" src="/img/loading_15.gif" style="margin: 5px; float: left" /></div>
                    <div ng-repeat="host in qc.queriedHosts">
                        <span role="button" aria-label="Remove host {{host}} from list" class="glyphicon glyphicon-remove-sign btn-glyph small"
                                ng-click="qc.removeQueriedHost(host)">
                        </span>
                        {{host}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <button ng-click="qc.moveQueriedToQueued()" ng-disabled="qc.queriedHosts.length == 0" >Add All {{qc.queriedHosts.length}} Hosts</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW TWO -->
        <div class="row panel-row">
            <div class="col-md-6 create-panel">
                <div><label>Quest type:
                    <select ng-model="qc.fateSelection"
                            ng-model-options="qc.selectOptions"
                            ng-options="optValue.description for optValue in qc.startingFates">
                    </select>
                </label></div>
            </div>
            <div class="col-md-4 helper-panel">
                <div>
                    <strong>Need help picking a quest type?</strong>
                    <p>Use the explorer to see the quest types and what kind of workflow each implies..</p>
                    <button type="button" ng-click="qc.showFatesModal = true">Quest Type Explorer</button>
                </div>
            </div>
        </div>
        <!-- ROW THREE -->
        <div class="row panel-row">
            <div class="col-md-6 create-panel">
                <div style="display: inline-block; min-height: 210px;"><label for="datepicker">Target Date:</label>
                    <uib-datepicker id="datepicker" ng-model="qc.targetDate" min-date="qc.today" show-weeks="false" max-mode="day" custom-class="qc.calDateClasser(date, mode)"></uib-datepicker>
                </div>
                <div style="display: inline-block; min-height: 210px;"><label for="timepicker">Target Time:</label>
                    <uib-timepicker id="timepicker" ng-model="qc.targetDate" min-date="qc.today" minute-step="15"></uib-timepicker>
                </div>
            </div>
            <div class="col-md-4 helper-panel">
                <div>The targeted completion date and time for the quest.  As the date gets closer, notifications to service owners will intensify.</div>
            </div>
        </div>
        <!-- ROW FOUR -->
        <div class="row panel-row">
            <div class="col-md-6 create-panel">
                <div><label for="description">With description:</label>
                    <textarea id="description"  ng-model="qc.description">

                    </textarea>
                </div>
            </div>
            <div class="col-md-4 helper-panel">
                <div>The Quest description is what most users will see so be as
descriptive as possible.  Let users know what is going on
and what action they should take.</div>
            </div>
        </div>
        <!-- ROW FIVE -->
        <div class="row panel-row">
            <div class="col-md-6 create-panel">
                <div class="error-message" ng-if="qc.errorMessages" ng-repeat="msg in qc.errorMessages">{{msg}}</div>
                <div>
                    <button class="big-wide-button be-positive" ng-click="qc.createQuest()">
                        <img ng-if="qc.createInProgress" src="/img/loading_15.gif" style="margin: 5px; float: left" />
                        Create Quest
                    </button>
                </div>
            </div>
            <div class="col-md-4 helper-panel">
                &nbsp;
            </div>
        </div>
        <!-- ROW BOTTOM -->
        <div class="row panel-row bottom-row">
            <div class="col-md-6 create-panel">
                &nbsp;
            </div>
            <div class="col-md-4 helper-panel">
                &nbsp;
            </div>
        </div>
    </div>
    <div ng-cloak class="modal-wrapper fade" ng-if="qc.showFatesModal">
        <div id="fatesModal" class="modal-dialog" role="dialog">
            <div fate-graph id="fatesView" style="width: 100%; height: 500px;  overflow: scroll;"></div>
            <div>
                <button ng-click="qc.showFatesModal = false">Close</button>
            </div>
        </div>
    </div>
    <div ng-cloak class="modal-wrapper fade" ng-if="qc.successMessage">
        <div id="successModal" class="modal-dialog" role="dialog">
            <div>{{qc.successMessage}}</div>
            <div>
                <button class="be-positive" ng-click="qc.successMessage = null">Close</button>
            </div>
        </div>
    </div>
</div>
